.cart-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 0.5px;
    padding: 8px;
    width: 60%;
    margin-bottom: 5px;
}

.empty-cart-button {
    width: 180px;
    margin-top: 32px;
}

.ir-a-productos-button {
    margin-top: 32px;
}

.img-item-container {
    width: 100px;
    height: 100px;
    margin-right: 16px;
}

.image-cart {
    width: 100px;
    height: 100px;
}

.title-unit-price-container {
    width: 250px;
    margin-right: 8px;
    font-size: 17px;
}

.update-quantity-container {
    padding: 8px;
}

.subtotal-container {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;    
}

.delete-button {
    margin-top: 14px;
}

.total {
    margin-right: 32px;
    font-size: 20px;
    margin-bottom: 0;
}

.total-container {
    margin-top: 8px;
    align-items: flex-end;
}

.empty-cart {
    width: 200px;
    height: 200px;
    margin: 16px;
}

.confirm-container {
    border-bottom: white;
    justify-content: flex-end;
}

.order-result {
    border-bottom: white;
    flex-direction: column;
    font-size: 20px;
    margin-top: 15px;
}